# dependencies
/node_modules

# misc
.DS_Store
*.pem

# debug
pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# Qoder IDE generated
.qoder/
